@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'montserrat', sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('vikings.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 130vh;
  background-attachment: fixed;
}

header {
  color: rgb(184, 179, 179);
  display: flex;
  height: 10vh;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#iconbar {
  color: white;
  font-size: 2rem;
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: 0;
  visibility: hidden;
}

#iconbar:hover {
  color: teal;
}

.logo {
  margin-left: 60px;
  margin-top: 50px;
}

.logo img {
  height: 7vh;
}

.logo h3 {
  color: rgb(18, 241, 241);
  font-size: 25px;
  margin-top: -35px;
  margin-left: 50px;
}

.nav ul {
  display: flex;
}

.nav ul li {
  list-style: none;
}

.nav ul li a {
  text-decoration: none;
  padding: 0px 20px;
  color: rgb(227, 238, 227);
}

.nav ul li a:hover {
  color: teal;
  font-weight: bolder;
}

.user {
  cursor: pointer;
  color: teal;
  margin-top: 40px;
  margin-right: 40px;
}

.user a {
  padding: 10px 30px;
  color: white;
  background-color: teal;
  text-decoration: none;
  border-radius: 10px;
}

.user a:hover {
  background-color: black;
  color: teal;
}

.user i {
  font-size: 20px;
  margin-right: 10px;
}

.user h4 {
  border-radius: 40px;
  background: teal;
  padding: 10px 20px;
  margin-top: 40px;
  margin-right: 40px;
}

.user i {
  padding: 0px 14px;
}

.user h4:hover {
  color: teal;
  background: black;
}

.heropage {
  position: absolute;
  color: white;
  margin-top: -98px;
  margin-left: 50%;
}

.inside-heropage {
  line-height: 2;
}

.inside-heropage h1 {
  font-size: 40px;
}

.inside-heropage p {
  font-size: 17px;
  margin-top: 80%;
}

span {
  color: teal;
  font-weight: bold;
}

.line1 {
  height: 2px;
  background-color: rgb(18, 241, 241);
  width: 12%;
  margin-left: 0px;
  margin-top: 0px;
  position: absolute;
}

.btn1 {
  margin-top: 30px;
}

.btn1 a {
  background-color: teal;
  color: white;
  padding: 10px 40px;
  text-decoration: none;
  border-radius: 30px;
}

.btn1 a:hover {
  background: black;
  color: teal;
}

.btn1 i {
  color: black;
  padding: 0px 10px;
}

.btn1 i:hover {
  color: white;
}

.poster {
  margin-top: 130px;
  margin-right: 150px;
}

.poster video {
  height: 320px;
  float: right;
  border-radius: 10px;
}

.synopsis {
  position: absolute;
  height: 100%;
  width: 100%;
  margin-top: 500px;
  padding: 0px 20px;
  opacity: 60%;
}

.synopsis h1 {
  font-size: 40px;
  color: teal;
  text-align: center;
}

.latest-inside p {
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 20px;
}
